<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Registro</h3>
    </div>
    <div class="panel-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="nombres" class="col-sm-2 control-label">Nombre/s</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="nombres" placeholder="Nombre/s">
                </div>
            </div>
            <div class="form-group">
                <label for="apellidos" class="col-sm-2 control-label">Apellido/s</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="apellidos" placeholder="Apellido/s">
                </div>
            </div>
            <div class="form-group">
                <label  class="col-sm-2 control-label">Tipo de Documento</label>
                <div class="col-sm-10">
                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Cédula
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Pasaporte
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> Otro
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label for="nroDoc" class="col-sm-2 control-label">Nro de Documento</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="nroDoc" placeholder="Nro de Documento">
                </div>
            </div>
            <div class="form-group">
                <label for="tel" class="col-sm-2 control-label">Teléfono</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="tel" placeholder="Teléfono">
                </div>
            </div>
            <div class="form-group">
                <label for="cel" class="col-sm-2 control-label">Celular</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="cel" placeholder="Celular">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary btn-lg">Finalizar Registro</button>

                </div>
            </div>
        </form>
    </div>
</div>
